<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhai.mall.mapper.BizFileMapper">
  <resultMap id="BaseResultMap" type="com.xhai.mall.model.BizFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="storage_type" jdbcType="VARCHAR" property="storageType" />
    <result column="original_file_name" jdbcType="VARCHAR" property="originalFileName" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="full_file_path" jdbcType="VARCHAR" property="fullFilePath" />
    <result column="file_hash" jdbcType="VARCHAR" property="fileHash" />
    <result column="upload_type" jdbcType="VARCHAR" property="uploadType" />
    <result column="upload_start_time" jdbcType="TIMESTAMP" property="uploadStartTime" />
    <result column="upload_end_time" jdbcType="TIMESTAMP" property="uploadEndTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, storage_type, original_file_name, size, suffix, width, height, file_path, 
    full_file_path, file_hash, upload_type, upload_start_time, upload_end_time, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.xhai.mall.model.BizFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhai.mall.model.BizFileExample">
    delete from biz_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhai.mall.model.BizFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into biz_file (user_id, storage_type, original_file_name, 
      size, suffix, width, 
      height, file_path, full_file_path, 
      file_hash, upload_type, upload_start_time, 
      upload_end_time, create_time, update_time
      )
    values (#{userId,jdbcType=INTEGER}, #{storageType,jdbcType=VARCHAR}, #{originalFileName,jdbcType=VARCHAR}, 
      #{size,jdbcType=BIGINT}, #{suffix,jdbcType=VARCHAR}, #{width,jdbcType=INTEGER}, 
      #{height,jdbcType=INTEGER}, #{filePath,jdbcType=VARCHAR}, #{fullFilePath,jdbcType=VARCHAR}, 
      #{fileHash,jdbcType=VARCHAR}, #{uploadType,jdbcType=VARCHAR}, #{uploadStartTime,jdbcType=TIMESTAMP}, 
      #{uploadEndTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xhai.mall.model.BizFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into biz_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="storageType != null">
        storage_type,
      </if>
      <if test="originalFileName != null">
        original_file_name,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="suffix != null">
        suffix,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="fullFilePath != null">
        full_file_path,
      </if>
      <if test="fileHash != null">
        file_hash,
      </if>
      <if test="uploadType != null">
        upload_type,
      </if>
      <if test="uploadStartTime != null">
        upload_start_time,
      </if>
      <if test="uploadEndTime != null">
        upload_end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="storageType != null">
        #{storageType,jdbcType=VARCHAR},
      </if>
      <if test="originalFileName != null">
        #{originalFileName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="suffix != null">
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fullFilePath != null">
        #{fullFilePath,jdbcType=VARCHAR},
      </if>
      <if test="fileHash != null">
        #{fileHash,jdbcType=VARCHAR},
      </if>
      <if test="uploadType != null">
        #{uploadType,jdbcType=VARCHAR},
      </if>
      <if test="uploadStartTime != null">
        #{uploadStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadEndTime != null">
        #{uploadEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhai.mall.model.BizFileExample" resultType="java.lang.Integer">
    select count(*) from biz_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biz_file
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.storageType != null">
        storage_type = #{record.storageType,jdbcType=VARCHAR},
      </if>
      <if test="record.originalFileName != null">
        original_file_name = #{record.originalFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=BIGINT},
      </if>
      <if test="record.suffix != null">
        suffix = #{record.suffix,jdbcType=VARCHAR},
      </if>
      <if test="record.width != null">
        width = #{record.width,jdbcType=INTEGER},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.fullFilePath != null">
        full_file_path = #{record.fullFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.fileHash != null">
        file_hash = #{record.fileHash,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadType != null">
        upload_type = #{record.uploadType,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadStartTime != null">
        upload_start_time = #{record.uploadStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploadEndTime != null">
        upload_end_time = #{record.uploadEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biz_file
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      storage_type = #{record.storageType,jdbcType=VARCHAR},
      original_file_name = #{record.originalFileName,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=BIGINT},
      suffix = #{record.suffix,jdbcType=VARCHAR},
      width = #{record.width,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      full_file_path = #{record.fullFilePath,jdbcType=VARCHAR},
      file_hash = #{record.fileHash,jdbcType=VARCHAR},
      upload_type = #{record.uploadType,jdbcType=VARCHAR},
      upload_start_time = #{record.uploadStartTime,jdbcType=TIMESTAMP},
      upload_end_time = #{record.uploadEndTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhai.mall.model.BizFile">
    update biz_file
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="storageType != null">
        storage_type = #{storageType,jdbcType=VARCHAR},
      </if>
      <if test="originalFileName != null">
        original_file_name = #{originalFileName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="suffix != null">
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fullFilePath != null">
        full_file_path = #{fullFilePath,jdbcType=VARCHAR},
      </if>
      <if test="fileHash != null">
        file_hash = #{fileHash,jdbcType=VARCHAR},
      </if>
      <if test="uploadType != null">
        upload_type = #{uploadType,jdbcType=VARCHAR},
      </if>
      <if test="uploadStartTime != null">
        upload_start_time = #{uploadStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadEndTime != null">
        upload_end_time = #{uploadEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhai.mall.model.BizFile">
    update biz_file
    set user_id = #{userId,jdbcType=INTEGER},
      storage_type = #{storageType,jdbcType=VARCHAR},
      original_file_name = #{originalFileName,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      suffix = #{suffix,jdbcType=VARCHAR},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      file_path = #{filePath,jdbcType=VARCHAR},
      full_file_path = #{fullFilePath,jdbcType=VARCHAR},
      file_hash = #{fileHash,jdbcType=VARCHAR},
      upload_type = #{uploadType,jdbcType=VARCHAR},
      upload_start_time = #{uploadStartTime,jdbcType=TIMESTAMP},
      upload_end_time = #{uploadEndTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>